bcrypt_salt_rounds=10

APP_URL=http://localhost:5000
PORT=5000
DATABASE_URL="postgres://d2498ecabf94c9dafe40febf865f0aed73162702d6b67e3c67050f95d8a04099:sk_ph60nJUYZA9plzrmwy5P2@pooled.db.prisma.io:5432/postgres?sslmode=require"
JWT_REFRESH_EXPIRE="7d"
JWT_ACCESS_EXPIRE="1d"
JWT_REFRESH_SECRET="ldkfjosd09ur09043uer0cur09ru"
JWT_ACCESS_SECRET="m48ru349034r039r30,rxj30r93j4r039r3j40r9"
